* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', sans-serif;
}
body {
    font-size: 16px;
}
.l_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--color1);
    z-index: 100;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav_bar {
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.nav_bar .nav_menu .nav_list,
.nav_bar .nav_others .nav_list {
    list-style: none;
}
.nav_bar .nav_menu .nav_list a,
.nav_bar .nav_others .nav_list a {
    text-decoration: none;
}
.nav_bar .nav_menu .nav_list .nav_item a {
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #AAAAAA;
}
.nav_bar .nav_menu .nav_list .nav_item a:hover,
.nav_bar .nav_menu .nav_list .nav_item .active {
    
    color: #FAE081;
}
.nav_bar .nav_others .nav_list .nav_item {
    padding-right: 2px;
}
.nav_bar .nav_others .nav_list .nav_item a img {
    width: 30px;
    height: 30px;
}
.nav_bar .nav_others .nav_list .nav_item a img:hover {
    filter: invert(93%) sepia(46%) saturate(716%) hue-rotate(325deg) brightness(100%) contrast(97%);
}
.nav_menu {
    display: flex;
    justify-content: center;
    /* width: 46.5%; */
    width: 420px;
}
.nav_menu .nav_list {
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
}
.nav_others {
    width: 10%;
}
.nav_others .nav_list {
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: space-between;
}
.home {
    padding-top: 8rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height: 90vh; */
}
.home .home_container{
    margin: auto;
    display: flex;
    /* padding-top: 8%; */
    padding-bottom: 1%;
    justify-content: flex-end;
    width: 100%;
}


/* keep  */


/* .home .home_container .content {
    position: absolute;
    left: 10%;
}
.home .home_container .img {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.home .home_container .img .img1 {
    width: 80%;
 } */

.home .home_container .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 10%;
    top: 20rem;
    width: 640px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48.83px;
    line-height: 73px;
    gap: 80px;

    margin: 0;
    position: relative;
    left: 10%;
    top: -30px;
    width: 30%;
}
.home .home_container .content p {
    width: 640px;
}
.home .home_container .content .btn {
    width: 141px;
    padding: 10px;
}
.home .home_container .img {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.home .home_container .img .img1 {
    width: 90%;
}


/* about */
.about {
    width: 100%;
    background-image: url(./img/Virtual_Reality_black_man.png);
    position: relative;
    color: #220606;
    display: flex;
    justify-content: center;
    min-height: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position-y: 0;
}
.about .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    height: 80%;
    margin: 65px 0 0 0;
    position: relative;
}
.about .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .container .content .title {
    width: 640px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48.83px;
    line-height: 73px;
    text-align: center;
    padding-bottom: 48px;
    color: #220606;
    position: relative;
}
.about .container .content .text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #220606;
    width: 614px;
    height: 160px;
 }
.about .container .content .btn {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.about .container .content .btn  button {
    width: 141px;
    height: 53px;
    background: #AC1F1F;
    border: 1px solid #AC1F1F;
    padding: 10px;
    color: #FCEAAB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
 }








/* footer */

footer {
    background: #000000;
}
footer .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 71.6px;
    padding-top: 38px;
    padding: 38px 0 38px 0;
}
footer .container .logo_teams {
    max-width: 325.71px;
    max-height: 317px;
    color: #CCA003;
}
footer .container .logo_teams .logo {
    width: 128.07px;
    gap: 1px;
    display: flex;
    flex-direction: column;
    height: 84px;
}
footer .container .logo_teams .logo p {
    padding-top: 1px;
    padding-bottom: 16px;
    text-align: right;
    width: 76.64px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A38002;
    opacity: 0.7;
    align-self: end;
}
footer .container .logo_teams .objective {
    padding: 16px 0 26px 0px;
    width: 258.15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #CCA003;
}
footer .container .logo_teams .details {
    gap: 8px;
    display: flex;
    flex-direction: column;
}
footer .container .logo_teams .details span {
    font-weight: bold;
}
footer .container .quicklinks {
    max-width: 179.5px;
}
footer .container .quicklinks h3,
footer .container .resources h3,
footer .container .social_links h3 {
    width: 210.76px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.06em;
    color: #CCA003;
    padding-bottom: 6px;
}

/* footer .container .quicklinks .list{ */
    /* gap: 3px;
display: grid; */
/* } */

footer .container .quicklinks .list li,
footer .container .resources .list li,
footer .container .social_links .list li {
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 247.5%;
    width: 179.5px;
}
footer .container .quicklinks .list a,
footer .container .resources .list a,
footer .container .social_links .list a {
    text-decoration: none;
    color: #7B6002;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
}
footer .container .social_links .list span {
    padding-left: 13.8px;
}
 footer .last {
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.3672px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-bottom: 44.13px;
}
